.text p{
    display: inline-block;
    max-width: 50%;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: pink;
    color: white;
    font-family: serif;
    font-size: 0.6em;
}
